<% if(site.categories.length){ %>
<div class="widget">
    <h3 class="title">
        <%= __('分类') %>
    </h3>
    <%- list_categories({
            showcount: theme.cate_config.show_count,
            transform: function(name){
                return '<i class="fa" aria-hidden="true">'+name+'</i>';
            },
            show_current: theme.cate_config.show_current
            }) %>
</div>
<% } %>