<% if (site.tags.length){ %>
<div class="widget">
    <h3 class="title">
        <%= __('标签云') %>
    </h3>
    <div class="content tag-cloud">
        <% if (theme.tagcloud.tag3d){ %>
        <canvas width="300" height="300" id="tag-cloud-3d">
            <%-tagcloud() %>
        </canvas>
        <% } else { %>
        <%- tagcloud() %>
        <% } %>
    </div>
</div>
<% } %>